<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppClip</key>
	<dict>
		<key>NSAppClipRequestEphemeralUserNotification</key>
		<false/>
		<key>NSAppClipRequestLocationConfirmation</key>
		<false/>
	</dict>
	<key>NSUserNotificationsUsageDescription</key>
	<string>Get notified when you receive new messages from friends</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Use Face ID to securely sign in to your account</string>
	<key>NSContactsUsageDescription</key>
	<string>Find friends who are already on Mirro and connect with them easily</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
